{% extends 'base.html.twig' %}

{% block passion_styles %}{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center header-title">Mes Loisirs et Passions</h1>
    <div class="row card-container">
        <div class="col-md-4">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <h2>Activités</h2>
                    </div>
                    <div class="flip-card-back">
                        <ul>
                            <li>Écologie</li>
                            <li>Randonnée</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <h2>Sport</h2>
                    </div>
                    <div class="flip-card-back">
                        <ul>
                            <li>Ski</li>
                            <li>Volley-ball (5 ans, coupe de l'Ain gagnée)</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <h2>Talk</h2>
                    </div>
                    <div class="flip-card-back">
                        <ul>
                            <li>Musique</li>
                            <li>Politique</li>
                            <li>Religion</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="gallery">
        <img src="{{ asset('images/image1.png') }}" alt="Randonnée">
        <img src="{{ asset('images/image2.png') }}" alt="Randonnée">
        <img src="{{ asset('images/image3.png') }}" alt="Randonnée">  
        <img src="{{ asset('images/image4.png') }}" alt="Randonnée">
    </div>
</div>


{% block passion_javascripts %}{% endblock %}
<footer class="footer">
    <p>© {{ "now"|date("Y") }}  Mael DUTHU. Tous droits réservés. Reproduction interdite. Contact: maelduthu@gmail.com.</p>
</footer>
{% endblock %}